<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExampleDbContext" connectionString="data source=PC-HOANGPHAMH;initial catalog=ExampleDb;user id=sa;password=Hoang.phamh@;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>